* {
    font-family: Arial, Helvetica, sans-serif;
    color: #333B8A;
}

body {
    padding: 20px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.header-top {
    min-height: 70px;
    margin-bottom: 12px;
}

.header-left .subtitle {
    font-style: italic;
    margin-top: 8px;
    font-size: 18px;
}

.header-right .title {
    font-size: 42px;
    color: #333B8A80;
    font-weight: bold;
}

.header-right .header-bottom {
    font-weight: bold;
}

.person-section {
    margin-top: 40px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    border: solid 1px #333B8A;
    padding: 12px;
}

.purchase {
    margin-top: 40px;
}

.purchase th {
    text-align: center;
}

.purchase th.desc {
    width: 70%;
}

.purchase th.amount {
    width: 30%;
}

.purchase td.desc {
    width: 70%;
}

.purchase td.amount {
    width: 30%;
}

.purchase .content {
    min-height: 150px;   
}
.purchase .price {
    display: flex;
    justify-content: space-between; 
}
.purchase .content-list {
    margin-bottom: 12px;
}


.purchase .total {
    text-align: right;
    font-weight: bold;
    border-left: none;
    border-bottom: none;    
}

.qna {
    margin-top: 20px;
}

footer {
    margin-top: 60px;
    text-align: center;
}